@model MariosMarketplace.Models.Review

@{
    ViewData["Title"] = "Marketplace Products";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Review - Create</h1>
@using (Html.BeginForm())
{
    <input type="hidden" name="ProductId" value="@ViewBag.product.ProductId" />

    @Html.LabelFor(model => model.Author)
    @Html.EditorFor(model => model.Author)

    @Html.LabelFor(model => model.Content)
    @Html.TextAreaFor(model => model.Content)

    @Html.LabelFor(model => model.Rating)
    @Html.EditorFor(model => model.Rating)

    <input class="btn btn-info" type="submit" value="Create" />

}

<p>@ViewBag.product.Name + @ViewBag.product.ProductId</p>

<input type="button" class="btn btn-warning" value="Back" onclick="location.href='@Url.Action("Details", "Products", new { id = @ViewBag.product.ProductId })'" />