<!DOCTYPE html>

@using System.Security.Claims

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/styles.css" />
</head>
<body>
    <div class="jumbotron">
        <h1>Mario's Marketplace</h1>
    </div>
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
        <a class="navbar-brand">@Html.ActionLink("Home", "Index", "Home")</a>
        <div class="navbar-nav">
            <a class="nav-item nav-link active">@Html.ActionLink("Products", "Index", "Products")</a>
        </div>

       
        @if (User.Identity.IsAuthenticated)
        {
            <div class="navbar-nav center-welcome">
                Welcome, @User.Identity.Name
            </div>
            @using (Html.BeginForm("LogOff", "Account"))
            {
                <input type="submit" class="nav-item btn btn-logoff" value="Log out" />
                
            }
        }
        else
        {
            <a class="nav-item nav-link">@Html.ActionLink("Register", "Register", "Account")</a>
            <a class="nav-item nav-link">@Html.ActionLink("Log in", "Login", "Account")</a>
        }
        

    </nav>
    <div class="container">
        @RenderBody()
    </div>
</body>
</html>